@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');




.font-log{
  font-family: 'Roboto Mono', monospace;
}

.bg-photo{
  background: url(/src/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#ground{
  filter: grayscale(100%);
  z-index: -1;
}

.move-img{
  position: relative;
  top: 38.406px;
}

.move-row{
  position: relative;
  top: -38px;
}
.bg-yellow{
  background-color: rgba(255, 255, 0, 0.589);
}
.bg-marron{
  background-color: #9F8E86;
}

